.flexa {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.flexb {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
}

.flexb a {
    margin-right: 2px;
}